<div class="jumbotron">
    <h1 class="display-4"><%- article.title %></h1><hr>
    <p><%- article.description %></p>
    <p><%- article.text %></p>
    <hr class="my-4">
    <p>Автор: <a href="/profile/<%=user.id%>"><%= user.name %></a></p>
    <p>Дата создания: <%= article.updatedAt %></p>
    <p class="lead">
        <% if(main) { %>
        <a class="btn btn-dark" href="/post/<%= article.id %>" role="button">Подробнее</a>
        <% } %>
        <% if(user.admin || user.id === curUserId){ %>
        <a href="/post/<%= article.id %>/edit" class="btn btn-dark">Редактировать</a>
        <a href="/post/<%= article.id %>/delete" class="btn btn-danger">Удалить</a>
        <% } %>
    </p>
</div>