<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <%- include('layout') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Профиль</title>
</head>
<body>
    <% if(isAuth){ %>
        <% var name = curUser.name %>
        <% var curUserId = curUser.id %>
    <% } %>
    <% include ./panel.ejs %>
    
    <div class="card border-info mb-3" style="max-width: 50rem;">
        <div class="card-header" align="center">Профиль пользователя</div>
         <div class="card-body text-info">
            <h5 class="card-title">ID: <%= user.id %></h5>
            <p class="card-text">username:      <%= user.name %></p>
            <p class="card-text">email:    <%= user.email %></p>
            <hr>
            <% var articles = user.articles %>
            <% if(articles.length !== 0){ %>
                <h5 class="card-title">Статьи</h5>
                
                <% for(var i = 0; i < articles.length; i++) { %>
                    <p><a href="../post/<%= articles[i].id %>" class="card-text"><%= articles[i].title %></a></p>
                <% } %>
            <% } %>
        </div>
    </div>
</body>
</html>