<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <%- include('layout') %>
    <link rel="stylesheet" href="/stylesheets/profile.css">
    <title>Профиль</title>
</head>
<body>
    <% if(isAuth){ %>
        <% var name = curUser.name %>
        <% var curUserId = curUser.id %>
    <% } %>
    <% include ./panel.ejs %>
    
    <div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4" align="center"><%= user.name %></h1>
        <hr>
            <p class="lead">ИД: <%= user.id %></p>
            <p class="lead">Почта: <%= user.email %></p>
            <% var articles = user.articles %>
            <% if(articles.length !== 0){ %>
                <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th>ID</th>
                            <th>Название</th>
                            <th>Дата создания</th>
                          </tr>
                        </thead>
                        <tbody>
                <% for(var i = 0; i < articles.length; i++) { %>
                            <tr>
                                <th scope="row"><%= articles[i].id %></th>
                                <td><a href="../post/<%= articles[i].id %>"><%= articles[i].title %></a></td>
                                <td><%= articles[i].createdAt %></td>
                            </tr>
                <% } %>
            <% } %>
                        </tbody>
                </table>
    </div>
    </div>
    </div>
    </div>
</body>
</html>